.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.extra-title {
  font-size: 40px;
  margin: 32px 0 0 0;
}

.payments .image-gallery .image.first {
  background: url(../img/img-bag-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.second {
  background: url(../img/img-passport-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.thirdy {
  background: url(../img/img-people-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.fourth {
  background: url(../img/img-pagoda-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.fifth {
  background: url(../img/img-tower-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.sixth {
  background: url(../img/img-parasol-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.thirdy.colspan-2 {
  grid-column: span 2;
}

.payments .image-gallery .image.sixth.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .image-gallery .image.first {
    background: url(../img/img-tablet-bag.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.second {
    background: url(../img/imag-tablet-passport.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.thirdy {
    background: url(../img/img-tablet-people.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
  }
}
